body{
    background: #4AC29A; 
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A, #BDFFF3);
    background: linear-gradient(to right, #BDFFF3, #4AC29A, #BDFFF3);
    font-family: "JetBrains Mono";
}

.fontTitle {
    color: #FFFF;
    font-size: 3rem;
}

.textError {
    font-size: 1rem;
}